.base {
  height: 48px;
  width: 48px;
  background: #888888;
  border-radius: 50%;
  /* padding: 0.25em; */
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background: #5473eb;
}

.base img {
  height: 2em;
}
