.base {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000aa;
  display: none;
  padding: 2em;
  overflow: none;
}

.modal-open {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal-close {
  display: none;
}

.modal-content {
  padding: 2em;
  width: 20em;
  background-color: #ffffff;
  border-radius: 6px;
  animation-name: modal;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-box-shadow: 0px 0px 12px 8px #555555aa;
  -moz-box-shadow: 0px 0px 12px 8px #555555aa;
  box-shadow: 0px 0px 12px 8px #555555aa;
}

.header {
  width: 100%;
  margin-top: -0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.close-button {
  font-size: 2em;
  color: #888888;
  cursor: pointer;
  transition: 0.2s;
}

.close-button:hover {
  color: #666666;
}

@keyframes modal {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
