.base {
  width: 1em;
  height: 1em;
  border: 1px solid #999ca1;
  border-radius: 50%;
  cursor: pointer;
}

.checked {
  position: relative;
  background-color: #514bfa;
  border: 0;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
}

.base input[type="checkbox"] {
  opacity: 0;
  padding: 0;
  margin: 0;
}

.checkmark {
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: url("../../assets/checked.png") center left no-repeat;
  background-size: cover;
}

.checkmark-off {
  position: absolute;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: none;
}
